/** Navbar Customization **/

.container-fluid .navbar-brand{
    color:#fff;
}
/** Our Menu Customization **/
h2#menu {
    text-align:center;
    margin-top:20px;
    margin-bottom: 20px;

}
.nav-item a{
    color:white;
}

span.navbar-toggler-icon{
    color:white!important;
}
.top{
    text-decoration:none;
    color:white;
}

/*Breakpoints for Differeent screns*/
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }